

// Descriptive Color Variables Names

$grey       :#777;
$teal       :#7ee6fd;
$green      :#58e1c1;
$white      :#fff;
$bluegreen  :#51ddfc;
$lightpurple:#927bc1;
$orange-red :#fd7856;
$red        :#e4757a;
$lime-green : #63cc82;

// Functional Color Variable Names

$color-text-base    :$grey;
$color-col4         :$teal;
$heading-field      :$green;
$btn-text           :$white;
$color-link         :$bluegreen;
$color-info         :$lightpurple;
$color-warning      :$orange-red;
$color-error        :$red;
$color-success      :$lime-green;

//color function variables
$color-link-dark: darken($color-link, 15%);
$color-link-light: lighten($color-link, 15%);


$color-success-dark: darken($color-success, 15%);
$color-success-light: lighten($color-success, 15%);


$color-error-dark: darken($color-error, 15%);
$color-error-light: lighten($color-error, 15%);


//Media Query Break Point
//break-tiny     : '(min-width: 320px)';
$break-small    : '(min-width: 768px)';