

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

//use of extends and placeholders

//media query variable

// Use of color functions.   Variables define the % change

%btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-text;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @media #{$break-small} {
        padding: 10px 30px;
      }
  
    }  
  
  .btn {

  &.default {
   @extend %btn;
    background-color: $color-link;
    &:hover {
      transition: background-color 1s ease-in;
      background-color: $color-link-light;
    }
  }
  
  &.error {
    @extend %btn;
    background-color: $color-error;
    &:hover {
      transition: background-color 1s ease-in;
      background-color: $color-error-dark;
    }
  }
  
  &.info {
    @extend %btn;
    background-color: $color-info;
  }
  
  &.success {
    @extend %btn;
    background-color: $color-success ;
    &:hover {
      transition: background-color 1s ease-in;
      background-color: $color-success-light;
    }
  }
  
  &.warning {
    @extend %btn;
    background-color: $color-warning;
  }
}


.btn + .btn {
  @media #{$break-small} {
    margin-left: 10px;
  }
} 
